<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_CarSellingManager.Properties.Settings.PanjuDBConnectionString"
            connectionString="Data Source=DESKTOP-PCHC845\C#_SQL;Initial Catalog=PanjuDB;User ID=sa;Password=2019111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>